.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  width: 35vmin;
  margin:4px;
  padding: 0px;
}

.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow:0 0 15px 1px rgba(0,0,0,0.07);
  padding: 0px 20px;
}
.mainSub{
 width:80%;
  margin:auto;
}
.mainSub h4{
  text-align: left !important;
}
.mainSub p{
  text-align: right !important;
}
.mainSub .buttonMain{
  margin:20px;
  align-items: right;

}
.table-comp{
  display: flex;
  justify-content: center;
  margin:auto;
}


.App-link {
  color: #09d3ac;
}
